
<% content_for :js do %>
<%= javascript_include_tag "tasks" %>
<%end%>

<div class="row">
	  <div class="col-md-4"></div>
  <div class="col-md-4"><%= render 'sponsors/form' %>
       <div class="col-md-4"></div>
   </div>
