<% content_for :js do %>
<%= javascript_include_tag "sponsors" %>
<%end%>
<form id="uploadForm">
    <label>Upload Image File:</label><br/>
    <input name="image" type="file" />
    <input type="submit" value="Submit" />
</form>

