





    
    <div class="container">        
        <!-- Example row of columns -->
         <div id="column">
            <div class="sponsor_detail">

                
                
                <img src="//i.imgur.com/RHFYj16.jpg">
                <h3>企業簡介</h3>
                <p>我們致力於,藉由影片呈現的方式
                    完成大家的夢想跟幻想,或許這條路很難走,很辛苦,但我們從來都不後悔去實踐我們的願景 </p>
                <h3>贊助任務說明</h3>
                <p>請上我們的"愛情筆記本粉絲專頁按讚",按完讚後貼上證明截圖,我們會盡快跟您聯絡
                </p>
                
                
            </div>
            <div class="sponsor_detail">          

                <h2>任務獎勵</h2>
                <p>獎學金3000元 </p>
                <h2></h2>

                <p> </p>
                <p><a class="btn  btn-warning pull-right " href="//www.facebook.com/lovenote0914?fref=photo">申請贊助 &raquo;</a></p>
                
            </div>
           </div>

        </div>


        </div>

        <hr>

        <footer>
            
        </footer>

    </div>
    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



