<!DOCTYPE html>
<html>

  <head>
    
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
  </head>
  <body>
    <div class="nav">
      <div class="container">
      
        <ul class="pull-left">
          <li><a href="file:///Users/JazzSun/Desktop/student_company%20platform/index.html">首頁</a></li>
          
        </ul>
      
      </div>
    </div>
      <div class="jumbotron">
      <div class="container">
        <h1>iSponsor.</h1>
        <p>The startup from NCKU </p>
        <a href="#">Learn More</a>

      </div>
    </div> 








