<!DOCTYPE html>
<html>

  <head>
    
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
  </head>

  <body>
    <div class="nav">
      <div class="container">
      
        <ul class="pull-left">
          <li><a href="file:///Users/JazzSun/Desktop/student_company%20platform/aboutisponsor.html">關於iSponsor</a></li>
          
        </ul>
        <ul class="pull-right">
          <li><a href="#">註冊</a></li>
          <li><a href="#">登入</a></li>

        </ul>
      </div>
    </div>
   

    <div class="jumbotron">
      <div class="container">
        <h1>Provide the sponsor information you need.</h1>
        <p>Sponsor from company &Shop in over 100 companies and 200 shops.</p>
        <a href="#">Learn More</a>

      </div>
    </div> 
    
    <div class="neighborhood-guides">
     <div class="container">
     <h2> "Sponsor Company" </h2>
     <p>"We provide you the Top company those interested in student market"  </p>
     <div class="row">
     <div class="col-md-4">
     <div class="thumbnail">
        <img src="http://www.theinquirer.net/IMG/668/254668/htc-logo-1.jpg">
     </div>
     
      <div class="thumbnail">
        <img src="http://netdna.webdesignerdepot.com/uploads/2013/02/featured35@wdd2x.jpg">
     </div>
     </div>
     <div class="col-md-4">
     <div class="thumbnail">
      <img src="http://www.timglobe.com.tw/upload/file/201410091457167626038565.png" >
    </div>
    <div class="thumbnail">
      <img src="http://www2.jtf.org.tw/psyche/sportrelief/images/logo11.jpg">
    </div>
     
      </div>
     <div class="col-md-4">
     <div class="thumbnail">
      <img src="https://www-techinasia.netdna-ssl.com/wp-content/uploads/2013/02/Line-Band-app-03.png" >
    </div>
     
      </div>
     
     
    
     </div>
     </div>
     </div>

    <div class="learn-more">
    <div class="container">
    <div class="row">
    <div class="col-md-4">
    <div>
        <div>
      <h3>使用者分享 1</h3>
      <p>iSponsor真的讓我們社團拉贊助變更方便了-前AIESEC成大分會社長</p>
      <p><a href="#">See how to sponsor you</a></p>
        </div>
      <div>
      <h3>使用者分享 2</h3>
      <p>介面簡單而且能避免拉到重複的店家-電機系系會公關長</p>
      <p><a href="#">Learn more about how to sponsor</a></p>
      </div>
   
      </div>
    </div>
  </div>
  </div>
  </div>
  </body>
</html>
